:root {
    --theme-bg: rgb(9, 0, 48);
    --theme-font-color: rgb(211, 246, 255);
    --theme-font-family: 'Noto Sans', sans-serif; 
}

body {
    background-color: var(--theme-bg);
    color: var(--theme-font-color);
    font-family: var(--theme-font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.2em;
}

p {
    font-size: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    align-items: center;
}

#logo {
    height: 80px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
}

header ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
    list-style-type: none;
}

header ul li {
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

section {
    border: solid white 1px;
}

.aboutme {
    display:flex; 
}

.about-text {
    margin-left: 40px;
}

.portfolioitems {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for the portfolio items */
.portfolioitem {
    box-sizing: border-box;
    width: 50%;
    border: solid white 1px;
    border-radius: 20px;
    padding: 10px;
}

/* Special controls for the most recent work in the portfolio */
.portfolioitem:first-child {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .portfolioitem {
        width: 100%;
    }
    .aboutme {
        flex-direction: column;
    }
}