/* Setting up theme colors and font. */
:root {
    --theme-bg: #090030;
    --theme-highlight-color: #44c5e6;
    --theme-font-color: #d3f6ff;
    --theme-font-family: 'Noto Sans', sans-serif; 
}

body {
    background-color: var(--theme-bg);
    color: var(--theme-font-color);
    font-family: var(--theme-font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

p {
    margin: 10px;
    font-size: 1.5em;
}

a {
    color: var(--theme-font-color);
    text-decoration: none;
}

#logo {
    height: 80px;
    padding: 5px;
    margin-left: 20px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    border-radius: 50%;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    font-size: 2em;
}

.nav ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
    list-style-type: none;
}

.nav ul li {
    text-decoration: none;
}

a:hover {
    color: var(--theme-highlight-color);
}

.hero-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-text {
    margin-left: 40px;
}

.hero-line {
    margin-left: 20px;
    height: 300px;
    border-right: solid var(--theme-font-color) 3px;
}

.hero-picture img {
    border-radius: 30%;
    width: 350px;
    height: 350px;
}

.section {
    display: flex;

}

/* Set up the section headers to align text to right and 
have a right border for highlight. */
.heading {
    min-width: 200px;
    justify-content: right;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 20px;
    text-align: right;
    border-right: solid var(--theme-font-color) 3px;
    font-weight: bold;
}

.about-text {
    margin: 20px;
    padding: 10px;
}

.work {
    display: flex;
}
.portfolioitems {
    margin: 20px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
}

/* Styling for the portfolio items */
.portfolioitem {
    box-sizing: border-box;
    width: 50%;
}

.projectcard {
    box-sizing: border-box;
    margin:5px;
    padding: 5px;
    border: solid var(--theme-bg) 5px;
    min-height: 100%;
}

.projectcard:hover {
    border: solid var(--theme-highlight-color) 5px;
    border-radius: 10px;
}

/* Placing the header to the top left corner of the card. 
With a small margin between the header and the card border 
when highlighted. */
.card-header {  
    width: 40%;
    min-width: 280px; 
    text-align: center;
    background-color: var(--theme-font-color);
    color: var(--theme-bg);
    font-size: 1.8em;
    font-weight: bold;
    position: relative;
    margin-bottom: -53px;
    border: solid var(--theme-highlight-color) 5px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px var(--theme-bg), 0 0 8px var(--theme-font-color);
}

.card-image {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

/* Special controls for the most recent work in the portfolio */
.portfolioitem:first-child {
    width: 100%;
}

.portfolioitem:first-child .card-header {
    width: 60%;
    min-width: 220px;
    font-size: 2em;
}

.form-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 10px;
}

.contact-form {
    width: 80%;
    max-width: 640px;
    margin: 20px;
    padding: 10px;
}

.contact-form .form-header {
    display: flex;
}
.contact-form .form-element {
    width: 50%;
    border: solid var(--theme-highlight-color) 2px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--theme-font-color);
    color: var(--theme-bg);
}

.contact-form .form-spacer {
    width: 5px;
}

.contact-form textarea {
    border: solid var(--theme-highlight-color) 2px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    resize: none;
    margin-top: 5px;
    margin-right: 5px;
    background-color: var(--theme-font-color);
    color: var(--theme-bg);
}

.contact-form button {
    width: 100%;
    border: solid var(--theme-highlight-color) 2px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--theme-font-color);
    color: var(--theme-bg);
}

.contact-form button:hover {
    background-color: var(--theme-highlight-color);
}

.social-media {
    display: flex;
    justify-content: center;
}

/* Color and sizing of the social media icons */
.social-icon {
    fill: var(--theme-font-color);
    padding: 5px;
    width: 40px;
    height: 40px;
}

.social-icon:hover {
    fill: var(--theme-highlight-color);
}

.cvlink .dllink {
	display: none;
}

.cvlink:hover .dllink{
	display: block;
}

/* Style overrides when the screen starts to become too narrow. */
@media screen and (max-width: 950px) {
    body {
        font-size: 0.9em;
    }
    .hero-area {
        flex-direction: column;
    }

    .hero-line {
        height: 3px;
        width: 300px;
        margin-left: 0;
        margin-top: 20px;
        border-right: none;
        border-top: solid var(--theme-font-color) 3px;
    }

    .heading {
        min-width: 150px;
    }

    .card-header {
        min-width: 230px;
        font-size: 1.8em;
    }

    .contact-form .form-header {
        flex-direction: column;
    }
    .contact-form .form-element {
        width: 100%;
        margin-top: 5px;
    }
}

/* Style overrides for small screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 0.7em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    /* Although I switch the direction to column here I have chosen not to
    overide the heading placement. At least for now. I kind of like them to
    be on the right edge of the screen with the border highlight. */
    .section {
        flex-direction: column;
    }

    .heading {
        margin-right: 10px;
        min-width: 75px;
    }

    .portfolioitems {
        justify-content: center;
    }

    .portfolioitem {
        width: 100%;
    }

    .card-image {
        margin: 10px;
    }

    .nav ul {
        width: 200px;
        flex-direction: column;
    }

    .nav ul li {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .hero-text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contact-form {
        width: 80%;
    }
}

@media screen and (max-height: 600px) {
    .hero {
        height: 180vh;
    }
    
    .hero-line {
        order: 2;
        margin-top: none;
        margin-bottom: 20px;
    }

    .hero-picture {
        order: 3;
    }
}